<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<p>Se crearon las siguientes entradas en la BD de familiares:</p>

    <p> Nombre = {{nombre1}} </p>
    <p> Fecha de nacimiento = {{fecha1}} </p>
    <p> Edad = {{edad1}} </p>

    <p> Nombre = {{nombre2}} </p>
    <p> Fecha de nacimiento = {{fecha2}} </p>
    <p> Edad = {{edad2}} </p>

    <p> Nombre = {{nombre3}} </p>
    <p> Fecha de nacimiento = {{fecha3}} </p>
    <p> Edad = {{edad3}} </p>

</body>
</html>